[user]
	name = Tomoyoshi Ogura
	email = tomoyoshi.ogura@gmail.com
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	st = status
	co = checkout
	ci = commit
	di = diff
	gr = grep
	dw = diff --color-words
	br = branch
[ghq]
	root = ~/src
